<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">meme.io</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">create</a></li>
          <li><a href="#api">api</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#contact">contact</a></li>

        </ul>
        <ul class="nav pull-right">
          <li><a href="http://twitter.com/NorthIsUp">@follow</a></li>
          <li><a href="https://twitter.com/share" class="twitter-share-button" data-text="#memes could never be easier http://meme.io/" data-via="NorthIsUp" data-size="medium" data-related="NorthIsUp" data-hashtags="memeio">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
